@tailwind base;
@tailwind components;
@tailwind utilities;


/* in index.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}